<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soa.database.ChatRoomMapper">
	<select id="select" parameterType="com.soa.model.MessageRoom" resultType="com.soa.model.MessageRoom">
		select * from message_room where buyer=#{buyer} and seller=#{seller}
	</select>
	<select id="checkrnum" parameterType="com.soa.model.MessageRoom" resultType="String">
		select room_no from message_room where buyer=#{buyer} and seller=#{seller}
	</select>
	<insert id="create" parameterType="com.soa.model.MessageRoom">
		insert into message_room values(message_room_seq.NEXTVAL,#{product_id},#{buyer},#{seller},SYSDATE)
	</insert>
	<select id="getlist" parameterType="String" resultType="com.soa.model.MessageRoom">
		select * from message_room where (seller=#{id})or(buyer=#{id}) order by create_date desc
	</select>

	<!-- test -->
	<select id="findMessageRoomByUsers" parameterType="map" resultType="com.soa.model.MessageRoom">
		select * from message_room where (buyer=#{userId1} and seller=#{userId2})
		or (buyer=#{userId2} and seller=#{userId1})
	</select>
	
	<insert id="createMessageRoom" parameterType="com.soa.model.MessageRoom">
			insert into message_room values(message_room_seq.NEXTVAL, #{product_id}, #{buyer},#{seller},SYSDATE)
	</insert>
</mapper>