<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soa.database.ProductMapper">

	<insert id="insert" parameterType="com.soa.model.Product">
      	insert into product values(product_id.NEXTVAL, #{product_name}, #{product_price}, #{product_content}, SYSDATE, 
      	#{product_cate}, #{animal_cate}, 'N', #{seller_id}, #{buyer_id, jdbcType=NULL}, 'N' ,'N')
    </insert>
    
    <select id="select" parameterType="com.soa.model.Product" resultType="String">
    	select product_id from product where product_name=#{product_name}
    </select>
    
    <select id="list" resultType="com.soa.model.Product">
    	select * from product order by product_id desc
    </select>
    
    <select id="content" parameterType="int" resultType="com.soa.model.Product">
		select * from product where product_id=#{product_id}
	</select>
    
    <select id="mycontent" parameterType="String" resultType="com.soa.model.Product">
		select * from product where seller_id=#{user_id} order by product_id desc
	</select>
	
	<update id="deleteproduct" parameterType="String">
		update product set del_yn='Y' where product_id=#{product_id}
	</update>
	
	<update id="updateproduct" parameterType="com.soa.model.Product">
		update product set product_status='Y', buyer_id=#{buyer_id} where product_id=#{product_id}
	</update>
	
</mapper>