<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JoinController</servlet-name>
  	<display-name>JoinController</display-name>
  	<description></description>
  	<servlet-class>com.soa.controller.JoinController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>com.soa.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductController</servlet-name>
  	<display-name>ProductController</display-name>
  	<description></description>
  	<servlet-class>com.soa.controller.ProductController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateController</servlet-name>
  	<display-name>UpdateController</display-name>
  	<description></description>
  	<servlet-class>com.soa.controller.UpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IdCheckController</servlet-name>
  	<display-name>IdCheckController</display-name>
  	<description></description>
  	<servlet-class>com.soa.controller.IdCheckController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NickCheckController</servlet-name>
  	<display-name>NickCheckController</display-name>
  	<description></description>
  	<servlet-class>com.soa.controller.NickCheckController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MemberUpController</servlet-name>
  	<display-name>MemberUpController</display-name>
  	<description></description>
  	<servlet-class>com.soa.controller.MemberUpController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductDeleteController</servlet-name>
  	<display-name>ProductDeleteController</display-name>
  	<description></description>
  	<servlet-class>com.soa.controller.ProductDeleteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MessageLogController</servlet-name>
  	<display-name>MessageLogController</display-name>
  	<description></description>
  	<servlet-class>com.soa.controller.MessageLogController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutController</servlet-name>
  	<display-name>LogoutController</display-name>
  	<description></description>
  	<servlet-class>com.soa.controller.MessageLogController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStatusController</servlet-name>
  	<display-name>UpdateStatusController</display-name>
  	<description></description>
  	<servlet-class>com.soa.controller.UpdateStatusController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLikeController</servlet-name>
  	<display-name>UserLikeController</display-name>
  	<description></description>
  	<servlet-class>com.soa.controller.UserLikeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchController</servlet-name>
  	<display-name>SearchController</display-name>
  	<description></description>
  	<servlet-class>com.soa.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinController</servlet-name>
  	<url-pattern>/JoinController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductController</servlet-name>
  	<url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateController</servlet-name>
  	<url-pattern>/UpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IdCheckController</servlet-name>
  	<url-pattern>/IdCheckController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NickCheckController</servlet-name>
  	<url-pattern>/NickCheckController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberUpController</servlet-name>
  	<url-pattern>/MemberUpController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductDeleteController</servlet-name>
  	<url-pattern>/ProductDeleteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MessageLogController</servlet-name>
  	<url-pattern>/MessageLogController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutController</servlet-name>
  	<url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStatusController</servlet-name>
  	<url-pattern>/UpdateStatusController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLikeController</servlet-name>
  	<url-pattern>/UserLikeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchController</servlet-name>
  	<url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
</web-app>
